<section id="cart-table">
  <table>
    <thead>
      <tr>
        <% if cart_path %>
          <td></td>
        <% end %>
        <td>Item Name</td>
        <td>Merchant</td>
        <td>Order Quantity</td>
        <% if cart_path %>
          <td>Change Quantity</td>
        <% end %>
        <td>Item Price</td>
        <td>Subtotal</td>
        <% if cart_path %>
          <td></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr id= "item-<%=item.id%>">
          <% if cart_path %>
            <td><img src= <%= item.image %>></td>
          <% end %>
          <td><%= item.name %></td>
          <td><%= item.merchant.name %></td>
          <td id="item-quantity"><%= cart.count_of(item.id) %></td>
          <% if cart_path %>
            <td><div id = "lessen-remove"><%= button_to "-", "/cart/decrement_item/#{item.id}", method: :patch %></div>
            <%= button_to "+", "/cart/increment_item/#{item.id}", method: :patch %></td>
          <% end %>
          <td id = "item-price"><%= number_to_currency(item.price) %></td>
          <td id = "item-subtotal"><%= number_to_currency(cart.subtotal(item.id)) %></td>
          <% if cart_path %>
            <td id = "lessen-remove"><%= button_to "Remove Item", "/cart/remove_item/#{item.id}", method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan= <%= footer_row %> id="grand-total" >Grand Total: <%= number_to_currency(cart.grand_total) %></td>
      </tr>
    </tbody>
  </table>
</section>
