<h1>Orders</h1>

<section>
  <p> <%= @order.name %></p>
  <p> <%= @order.address %></p>
  <p> <%= @order.city %></p>
  <p> <%= @order.state %></p>
  <p> <%= @order.zip %></p>
</section>

<%= render partial: '/partials/items_cart_order_table',
            locals: { items: @order.items,
                      cart_path: false,
                      footer_row: 5,
                      orders_path: true}%>

<table>
  <tr>
    <td>Grand Total: <%= number_to_currency(@order.grand_total) %></td>
  </tr>
</table>
<p> Date of Order: <%= @order.created_at.strftime("%D") %></p>
