<h1>Orders</h1>

<section>
  <p> <%= @order.name %></p>
  <p> <%= @order.address %></p>
  <p> <%= @order.city %></p>
  <p> <%= @order.state %></p>
  <p> <%= @order.zip %></p>
</section>

<%= render partial: '/partials/items_cart_order_table',
            locals: { items: @order.items,
                      cart_path: false,
                      footer_row: 5,
                      orders_path: true}%>

<section id="cart-table">
  <p> Grand Total: <%= number_to_currency(@order.grand_total) %></p>
  <p> Date of Order: <%= @order.created_at.strftime("%D") %></p>
</section>





<!-- As a visitor
When I fill out all information on the new order page
And click on 'Create Order'
An order is created and saved in the database
And I am redirected to that order's show page with the following information:
- My name and address (shipping information)
- Details of the order:
- the name of the item
- the merchant I'm buying this item from
- the price of the item
- my desired quantity of the item
- a subtotal (price multiplied by quantity)
- a grand total of what everything in my cart will cost
- the date when the order was created -->
