<h1>Orders</h1>

<section>
  <p> <%= @order.name %></p>
  <p> <%= @order.address %></p>
  <p> <%= @order.city %></p>
  <p> <%= @order.state %></p>
  <p> <%= @order.zip %></p>
</section>

<%= render partial: '/partials/items_cart_order_table',
            locals: { items: @order.items,
                      cart_path: false,
                      footer_row: 5,
                      orders_path: true}%>

<section id="cart-table">
  <p> Grand Total: <%= number_to_currency(@order.grand_total) %></p>
  <p> Date of Order: <%= @order.created_at.strftime("%D") %></p>
  <% if verified %>
    <%= link_to 'Delete Order', "/verified_order/#{@order.verif}" %>
    <%= link_to 'Update Shipping Address', "/verified_order/#{@order.verif}/edit" %>
  <% end %>
</section>
