<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <ul>
        <li><%= link_to "All Merchants", "/merchants"%></li>
        <li><%= link_to "All Items", "/items"%></li>
        <li><%= link_to "All Items", "/items"%></li>
        <li><%= link_to "Cart: #{cart.total_count}", "/cart", id: "cart" %></li>
        <li><%= form_tag "/verified_order", method: :get do %>
          <%= label_tag :order_verif, "Find Order" %>
          <%= text_field_tag :order_verif %>
          <%= submit_tag "Search" %>
        <% end %></li>
      </ul>




    </nav>

    <% flash.each do |type, message| %>
      <p id = "flash"><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
